<h1>Hello, create an account to enslave cats, you monster</h1>

<form action="/user" method="post">
  <div>

    <label>Username</label><br>
    <input type="text" name="user[user_name]">
    <br><br>

    <label>Password</label><br>
    <input type="password" name="user[password]">
    <br><br>

    <input type="submit" value="create">
  </div>
</form>
